body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #6200ee;
}

.produto {
    background-color: #03dac5;
}

.margin {
    padding-top: 30px;
    padding-bottom: 40px;
}

.mais-vendido {
    background-color: #03dac5;
    color: white;
}

.quem-somos {
    background-color: slateblue;
    color: white;
}

.rodape {
    background-color: black;
    color: white;
}